<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.countdown.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      <%= countdown.custom_css %>
      body {
        background-image: url("<%= countdown.background_image %>");
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38296298-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar-space"></div>

    <div class="container canvas-container">
      <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Share!</h3>
        </div>
        <div class="modal-body">
          <a href="http://localhost:3000/show/<%= countdown.slug %>" class="countdown-link">http://localhost:3000/show/<%= countdown.slug %></a>
        </div>
      </div>

      <div class="title-container">
        <div class="content"><%- countdown.title %></div>
      </div>
      <div class="countdown-container">
        <div class="countdown flip-clock" data-until="<%= countdown.until.toJSON() %>"></div>
      </div>
      <div class="description-container">
        <div class="content"><%- countdown.description %></div>
      </div>
    </div>

    <!-- load scripts late -->
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </body>
</html>